
@{
    Layout = null;
}
@model QLNS.Models.LoginModel
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    @*<link rel="icon" type="image/png" href="images/icons/favicon.ico" />*@
    @*<img src="~/Content/login/images/icons/favicon.ico" />*@
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">*@
    <link href="~/Content/login/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">*@
    <link href="~/Content/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">*@
    <link href="~/Content/login/fonts/iconic/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">*@
    <link href="~/Content/login/vendor/animate/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">*@
    <link href="~/Content/login/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">*@
    <link href="~/Content/login/vendor/animsition/css/animsition.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">*@
    <link href="~/Content/login/vendor/select2/select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">*@
    <link href="~/Content/login/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="css/util.css">*@
    <link href="~/Content/login/css/util.css" rel="stylesheet" />
    @*<link rel="stylesheet" type="text/css" href="css/main.css">*@
    <link href="~/Content/login/css/main.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>
<body>
    
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-85 p-b-20">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                    <span class="login100-form-title p-b-70">
                        Welcome
                    </span>
                    <span class="login100-form-avatar">
                        @*<img src="images/avatar-01.jpg"*@
                        <img src="~/Content/login/images/logo.png" alt="AVATAR">
                    </span>

                    <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="Enter username">
                        @*<input class="input100" type="text" name="username">*@
                        @Html.TextBoxFor(model => model.Nameaccount, new { @class = "input100", @placeholder = "Username", @autufocus = "autofocus" })
                        <span class="focus-input100" data-placeholder="Username"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
                        @Html.TextBoxFor(model => model.Password, new { @class = "input100", @placeholder = "Password", @type = "password" })
                        @*<input class="input100" type="password" name="pass">*@
                        <span class="focus-input100" data-placeholder="Password"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Login
                        </button>
                    </div>

                    @*<ul class="login-more p-t-190">
                        <li class="m-b-8">
                            <span class="txt1">
                                Forgot
                            </span>

                            <a href="#" class="txt2">
                                Username / Password?
                            </a>
                        </li>

                        <li>
                            <span class="txt1">
                                Don’t have an account?
                            </span>

                            <a href="#" class="txt2">
                                Sign up
                            </a>
                        </li>
                    </ul>*@
                }
                @*<form class="login100-form validate-form">
                    </form>*@
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    @*<script src="vendor/jquery/jquery-3.2.1.min.js"></script>*@
    <script src="~/Content/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    @*<script src="vendor/animsition/js/animsition.min.js"></script>*@
    <script src="~/Content/login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    @*<script src="vendor/bootstrap/js/popper.js"></script>*@
    <script src="~/Content/login/vendor/bootstrap/js/popper.js"></script>
    @*<script src="vendor/bootstrap/js/bootstrap.min.js"></script>*@
    <script src="~/Content/login/vendor/bootstrap/js/popper.min.js"></script>
    <!--===============================================================================================-->
    @*<script src="vendor/select2/select2.min.js"></script>*@
    <script src="~/Content/login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    @*<script src="vendor/daterangepicker/moment.min.js"></script>*@
    <script src="~/Content/login/vendor/daterangepicker/moment.js"></script>
    @*<script src="vendor/daterangepicker/daterangepicker.js"></script>*@
    <script src="~/Content/login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    @*<script src="vendor/countdowntime/countdowntime.js"></script>*@
    <script src="~/Content/login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    @*<script src="js/main.js"></script>*@
    <script src="~/Content/login/js/main.js"></script>

</body>
</html>
