USE [QLKS]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 6/23/2020 10:30:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MaCV] [int] NOT NULL,
	[TenCV] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATPHONG]    Script Date: 6/23/2020 10:30:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATPHONG](
	[MaPhieuDat] [int] NOT NULL,
	[idPhong] [int] NOT NULL,
	[idKhachHang] [int] NOT NULL,
	[SoNguoi] [int] NOT NULL,
	[NgayDen] [date] NOT NULL,
	[NgayDi] [date] NOT NULL,
	[TienCoc] [float] NOT NULL,
 CONSTRAINT [PK_DATPHONG] PRIMARY KEY CLUSTERED 
(
	[MaPhieuDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 6/23/2020 10:30:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MaDV] [int] NOT NULL,
	[TenDichVu] [nvarchar](255) NOT NULL,
	[Gia] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 6/23/2020 10:30:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHD] [int] NOT NULL,
	[idThuePhong] [int] NOT NULL,
	[NgayDen] [date] NOT NULL,
	[NgayDi] [date] NOT NULL,
	[TongTien] [float] NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 6/23/2020 10:30:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] NOT NULL,
	[TenKH] [nvarchar](255) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
	[SoDT] [varchar](20) NOT NULL,
	[CMT] [varchar](20) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
 CONSTRAINT [PK__KHACHHAN__2725CF1ED3881DE6] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 6/23/2020 10:30:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MaLoai] [int] NOT NULL,
	[TenLoai] [nvarchar](100) NULL,
	[SoNguoi] [int] NOT NULL,
	[Gia] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/23/2020 10:30:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [int] NOT NULL,
	[idChucVu] [int] NOT NULL,
	[TenNV] [nvarchar](255) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
	[SoDT] [varchar](20) NOT NULL,
	[CMT] [varchar](20) NOT NULL,
	[TenDangNhap] [varchar](100) NOT NULL,
	[MatKhau] [varchar](100) NOT NULL,
 CONSTRAINT [PK__NHANVIEN__2725D70AA8E72039] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 6/23/2020 10:30:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MaPhong] [int] NOT NULL,
	[idLoaiPhong] [int] NOT NULL,
	[TinhTrang] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUDUNGDICHVU]    Script Date: 6/23/2020 10:30:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUDUNGDICHVU](
	[MaThue] [int] NOT NULL,
	[idDichVu] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THIETBI]    Script Date: 6/23/2020 10:30:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THIETBI](
	[idPhong] [int] NOT NULL,
	[TenThietBi] [nvarchar](255) NOT NULL,
	[SoLuong] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUEPHONG]    Script Date: 6/23/2020 10:30:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUEPHONG](
	[MaThue] [int] NOT NULL,
	[idKhachHang] [int] NOT NULL,
	[idPhong] [int] NOT NULL,
	[NgayDi] [date] NOT NULL,
	[NgayDen] [date] NOT NULL,
	[GiaTien] [float] NOT NULL,
 CONSTRAINT [PK_THUEPHONG] PRIMARY KEY CLUSTERED 
(
	[MaThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHUCVU] ([MaCV], [TenCV]) VALUES (1, N'Quản Lý')
INSERT [dbo].[CHUCVU] ([MaCV], [TenCV]) VALUES (2, N'Nhân Viên')
INSERT [dbo].[DICHVU] ([MaDV], [TenDichVu], [Gia]) VALUES (12, N'Dịch Vụ Spa', 150000)
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [GioiTinh], [NgaySinh], [DiaChi], [SoDT], [CMT], [GhiChu]) VALUES (1111, N'Nguyễn Văn A', N'nam', CAST(N'1998-06-09' AS Date), N'Hà Nội', N'64643213', N'136789564', N'adad')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [GioiTinh], [NgaySinh], [DiaChi], [SoDT], [CMT], [GhiChu]) VALUES (1715, N'Đoàn Xuân Hiếu', N'nam', CAST(N'1999-02-07' AS Date), N'HN', N'01236565498', N'1099014743', N'')
INSERT [dbo].[LOAIPHONG] ([MaLoai], [TenLoai], [SoNguoi], [Gia]) VALUES (1, N'Phòng nhỏ', 2, 50000)
INSERT [dbo].[LOAIPHONG] ([MaLoai], [TenLoai], [SoNguoi], [Gia]) VALUES (2, N'Phòng vừa', 4, 70000)
INSERT [dbo].[LOAIPHONG] ([MaLoai], [TenLoai], [SoNguoi], [Gia]) VALUES (3, N'Phòng lớn', 8, 100000)
INSERT [dbo].[NHANVIEN] ([MaNV], [idChucVu], [TenNV], [GioiTinh], [NgaySinh], [DiaChi], [SoDT], [CMT], [TenDangNhap], [MatKhau]) VALUES (1001, 1, N'Đoàn Xuân Hiếu', N'nam', CAST(N'1999-02-07' AS Date), N'Hà Nội', N'0123454554', N'001099014455', N'admin', N'123')
INSERT [dbo].[PHONG] ([MaPhong], [idLoaiPhong], [TinhTrang]) VALUES (101, 1, N'Trong')
INSERT [dbo].[PHONG] ([MaPhong], [idLoaiPhong], [TinhTrang]) VALUES (102, 1, N'Trong')
INSERT [dbo].[PHONG] ([MaPhong], [idLoaiPhong], [TinhTrang]) VALUES (103, 2, N'Da dat')
INSERT [dbo].[THIETBI] ([idPhong], [TenThietBi], [SoLuong]) VALUES (101, N'Tivi', 1)
INSERT [dbo].[THIETBI] ([idPhong], [TenThietBi], [SoLuong]) VALUES (102, N'Điều hòa', 1)
INSERT [dbo].[THIETBI] ([idPhong], [TenThietBi], [SoLuong]) VALUES (101, N'Tủ lạnh', 1)
ALTER TABLE [dbo].[DATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_DATPHONG_KHACHHANG] FOREIGN KEY([idKhachHang])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[DATPHONG] CHECK CONSTRAINT [FK_DATPHONG_KHACHHANG]
GO
ALTER TABLE [dbo].[DATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_DATPHONG_PHONG] FOREIGN KEY([idPhong])
REFERENCES [dbo].[PHONG] ([MaPhong])
GO
ALTER TABLE [dbo].[DATPHONG] CHECK CONSTRAINT [FK_DATPHONG_PHONG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_THUEPHONG] FOREIGN KEY([idThuePhong])
REFERENCES [dbo].[THUEPHONG] ([MaThue])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_THUEPHONG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK__NHANVIEN__idChuc__3E52440B] FOREIGN KEY([idChucVu])
REFERENCES [dbo].[CHUCVU] ([MaCV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK__NHANVIEN__idChuc__3E52440B]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD FOREIGN KEY([idLoaiPhong])
REFERENCES [dbo].[LOAIPHONG] ([MaLoai])
GO
ALTER TABLE [dbo].[SUDUNGDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_SUDUNGDICHVU_DICHVU] FOREIGN KEY([idDichVu])
REFERENCES [dbo].[DICHVU] ([MaDV])
GO
ALTER TABLE [dbo].[SUDUNGDICHVU] CHECK CONSTRAINT [FK_SUDUNGDICHVU_DICHVU]
GO
ALTER TABLE [dbo].[SUDUNGDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_SUDUNGDICHVU_THUEPHONG] FOREIGN KEY([MaThue])
REFERENCES [dbo].[THUEPHONG] ([MaThue])
GO
ALTER TABLE [dbo].[SUDUNGDICHVU] CHECK CONSTRAINT [FK_SUDUNGDICHVU_THUEPHONG]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD FOREIGN KEY([idPhong])
REFERENCES [dbo].[PHONG] ([MaPhong])
GO
ALTER TABLE [dbo].[THUEPHONG]  WITH CHECK ADD  CONSTRAINT [FK_THUEPHONG_KHACHHANG] FOREIGN KEY([idKhachHang])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[THUEPHONG] CHECK CONSTRAINT [FK_THUEPHONG_KHACHHANG]
GO
ALTER TABLE [dbo].[THUEPHONG]  WITH CHECK ADD  CONSTRAINT [FK_THUEPHONG_PHONG] FOREIGN KEY([idPhong])
REFERENCES [dbo].[PHONG] ([MaPhong])
GO
ALTER TABLE [dbo].[THUEPHONG] CHECK CONSTRAINT [FK_THUEPHONG_PHONG]
GO
